{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="body"}
<div class="p-page">
	<h3 class="pb-2">招投标网址注册信息详情</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray">招投标网址注册信息名称</td>
			<td>{$detail.title|default=''}"></td>
			<td class="layui-td-gray">父级分类</td>
			<td>
				{volist name=":set_recursion(get_oa_website_account())" id="v"}
					{eq name="$detail.pid" value="$v.id" }{$v.title}{/eq}
				{/volist}
			</td>
			<td class="layui-td-gray">排序</td>
			<td>{$detail.sort|default=0}</td>
		</tr>
		<tr>
			<td class="layui-td-gray">招投标网址注册信息描述</td>
			<td colspan="5">{$detail.desc|default=''}</td>
		</tr>
	</table>
</div>
{/block}
<!-- /主体 -->