<div class="layui-row layui-col-space16">
	<div class="layui-col-md12">
		<div class="layui-card">
			<div class="layui-card-title">系统信息</div>
			<div class="layui-card-body">
				<table class="layui-table" lay-skin="" lay-size="sm">
					<tr>
						<td class="info-td">服务器系统</td>
						<td>{:get_system_info('os')}</td>
						<td class="info-td">PHP版本</td>
						<td>{:get_system_info('php')}</td>
					</tr>
					<tr>
						<td class="info-td">上传附件限制</td>
						<td>{:get_system_config('system','upload_max_filesize')}M / {:get_system_info('upload_max_filesize')}</td>
						<td class="info-td">执行时间限制</td>
						<td>{:get_system_info('max_execution_time')}</td>
					</tr>
					{eq name=":get_system_config('system','qrcode')" value="2"}
					<tr>
						<td class="info-td">ThinkPHP版本</td>
						<td colspan="3">{$TP_VERSION}<a class="layui-badge layui-bg-blue" style="margin-left:8px" href="https://doc.thinkphp.cn/v8_0/preface.html" target="_blank">TP8文档</a></td>
					</tr>
					<tr>
						<td class="info-td">Layui版本</td>
						<td colspan="3">{:LAYUI_VERSION}<a class="layui-badge layui-bg-blue" style="margin-left:8px" href="https://layui.dev/docs/2/" target="_blank">Layui文档</a></td>
					</tr>
					{/eq}
				</table>
			</div>
		</div>
	</div>
</div>
<script>
function layoutSystem(){

}
</script>
