{extend name="../../base/view/common/base" /}
{block name="body"}
<div class="p-page">
    <div class="layui-card">
        <div class="layui-card-header">{:isset($info['id']) && $info['id'] ? '投标信息编辑' : '新增投标信息'}</div>
        <div class="layui-card-body">
            <form id="tenderForm" class="layui-form layui-form-pane" lay-filter="tenderForm" enctype="multipart/form-data" autocomplete="off">
                <input type="hidden" name="id" value="{:isset($info['id']) ? $info['id'] : 0}">
                <input type="hidden" name="_deleted_attach_ids" value="">

                <table class="layui-table layui-table-borderless" style="width: 100%;">
                    <colgroup>
                        <col width="150">
                        <col width="300">
                        <col width="150">
                        <col width="300">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="layui-td-gray">月份<span style="color: red;">*</span></td>
                        <td>
                            <input type="text" name="month" id="monthPicker" lay-verify="required" placeholder="请选择月份" class="layui-input" value="{:isset($info['id']) ? $info['month'] : ''}" autocomplete="off">
                        </td>
                        <td class="layui-td-gray">标书负责人<span style="color: red;">*</span></td>
                        <td>
                            <input type="text" name="tender_leader" lay-verify="required" placeholder="请输入标书负责人" class="layui-input" value="{:isset($info['id']) ? $info['tender_leader'] : ''}" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td class="layui-td-gray">购买日期</td>
                        <td>
                            <input type="date" name="purchase_date" class="layui-input" value="{:isset($info['id']) ? $info['purchase_date'] : ''}" autocomplete="off">
                        </td>
                        <td class="layui-td-gray">客户名称<span style="color: red;">*</span></td>
                        <td>
                            <input type="text" name="customer_name" lay-verify="required" placeholder="请输入客户名称" class="layui-input" value="{:isset($info['id']) ? $info['customer_name'] : ''}" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td class="layui-td-gray">项目名称<span style="color: red;">*</span></td>
                        <td>
                            <input type="text" name="project_name" lay-verify="required" placeholder="请输入项目名称" class="layui-input" value="{:isset($info['id']) ? $info['project_name'] : ''}" autocomplete="off">
                        </td>
                        <td class="layui-td-gray">招标机构</td>
                        <td>
                            <input type="text" name="tender_agency" placeholder="请输入招标机构" class="layui-input" value="{:isset($info['id']) ? $info['tender_agency'] : ''}" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td class="layui-td-gray">项目周期</td>
                        <td>
                            <input type="number" id="project_cycle_months" placeholder="请输入项目周期（月）" class="layui-input" value="" autocomplete="off">
                            <div id="project_cycle_display" style="margin-top: 5px; color: #666;"></div>
                            <input type="hidden" name="project_cycle" id="project_cycle_hidden" value="{:isset($info['id']) ? $info['project_cycle'] : ''}">
                        </td>
                        <td class="layui-td-gray">入围家数</td>
                        <td>
                            <input type="number" name="shortlisted_countries" placeholder="请输入入围家数" class="layui-input" value="{:isset($info['id']) ? $info['shortlisted_countries'] : ''}" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td class="layui-td-gray">预算金额（元）</td>
                        <td>
                            <input type="text" name="budget_amount" placeholder="请输入预算金额" class="layui-input" value="{:isset($info['id']) ? $info['budget_amount'] : '0.00'}" autocomplete="off">
                        </td>
                        <td class="layui-td-gray">开标日期</td>
                        <td>
                            <input type="date" name="bid_opening_date" class="layui-input" value="{:isset($info['id']) ? $info['bid_opening_date'] : ''}" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td class="layui-td-gray">是否投标<span style="color: red;">*</span></td>
                        <td>
                            <select name="is_tender_submitted" lay-verify="required" class="layui-select">
                                <option value="">请选择</option>
                                <option value="是" {:isset($info['id']) && $info['is_tender_submitted'] == '是' ? 'selected' : ''}>是</option>
                                <option value="否" {:isset($info['id']) && $info['is_tender_submitted'] == '否' ? 'selected' : ''}>否</option>
                            </select>
                        </td>
                        <td class="layui-td-gray">未投原因</td>
                        <td>
                            <textarea name="non_tender_reason" rows="3" placeholder="未投标时填写原因" class="layui-textarea" autocomplete="off">{:isset($info['id']) ? $info['non_tender_reason'] : ''}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="layui-td-gray">标书款（元）</td>
                        <td>
                            <input type="text" name="tender_document_fee" placeholder="请输入标书款" class="layui-input" value="{:isset($info['id']) ? $info['tender_document_fee'] : '0.00'}" autocomplete="off">
                        </td>
                        <td class="layui-td-gray">标书款发票</td>
                        <td>
                            <select name="has_tender_invoice" class="layui-select">
                                <option value="">请选择</option>
                                <option value="是" {:isset($info['id']) && $info['has_tender_invoice'] == '是' ? 'selected' : ''}>是</option>
                                <option value="否" {:isset($info['id']) && $info['has_tender_invoice'] == '否' ? 'selected' : ''}>否</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="layui-td-gray">是否缴纳保证金</td>
                        <td>
                            <select name="is_deposit_paid" id="isDepositPaid" class="layui-select">
                                <option value="">请选择</option>
                                <option value="是" {:isset($info['id']) && $info['is_deposit_paid'] == '是' ? 'selected' : ''}>是</option>
                                <option value="否" {:isset($info['id']) && $info['is_deposit_paid'] == '否' ? 'selected' : ''}>否</option>
                            </select>
                        </td>
                        <td class="layui-td-gray">投标保证金（元）</td>
                        <td>
                            <input type="text" name="tender_deposit" placeholder="请输入投标保证金" class="layui-input" value="{:isset($info['id']) ? $info['tender_deposit'] : '0.00'}" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td class="layui-td-gray">保证金账户名</td>
                        <td>
                            <input type="text" name="deposit_account_name" placeholder="请输入账户名" class="layui-input" value="{:isset($info['id']) ? $info['deposit_account_name'] : ''}" autocomplete="off">
                        </td>
                        <td class="layui-td-gray">保证金开户行</td>
                        <td>
                            <input type="text" name="deposit_bank" placeholder="请输入开户行" class="layui-input" value="{:isset($info['id']) ? $info['deposit_bank'] : ''}" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td class="layui-td-gray">保证金账号</td>
                        <td>
                            <input type="text" name="deposit_account_no" placeholder="请输入账号" class="layui-input" value="{:isset($info['id']) ? $info['deposit_account_no'] : ''}" autocomplete="off">
                        </td>
                        <td class="layui-td-gray">是否退回保证金</td>
                        <td>
                            <select name="is_deposit_refunded" class="layui-select">
                                <option value="">请选择</option>
                                <option value="是" {:isset($info['id']) && $info['is_deposit_refunded'] == '是' ? 'selected' : ''}>是</option>
                                <option value="否" {:isset($info['id']) && $info['is_deposit_refunded'] == '否' ? 'selected' : ''}>否</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="layui-td-gray">保证金缴纳截止日期</td>
                        <td>
                            <input type="text" name="deposit_paid_time" id="depositPaidTimePicker" lay-verify="" class="layui-input" value="{:isset($info['id']) ? $info['deposit_paid_time'] : ''}" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td class="layui-td-gray">中标结果</td>
                        <td>
                            <select name="bid_result" class="layui-select">
                                <option value="">请选择</option>
                                <option value="中标" {:isset($info['id']) && $info['bid_result'] == '中标' ? 'selected' : ''}>中标</option>
                                <option value="未中标" {:isset($info['id']) && $info['bid_result'] == '未中标' ? 'selected' : ''}>未中标</option>
                                <option value="待开标" {:isset($info['id']) && $info['bid_result'] == '待开标' ? 'selected' : ''}>待开标</option>
                            </select>
                        </td>
                        <td class="layui-td-gray">中标服务费（元）</td>
                        <td>
                            <input type="text" name="bid_service_fee" placeholder="请输入中标服务费" class="layui-input" value="{:isset($info['id']) ? $info['bid_service_fee'] : '0.00'}" autocomplete="off">
                        </td>
                    </tr>

                    <!--<tr>
                        <td class="layui-td-gray">序列</td>
                        <td>
                            <input type="text" name="sort" placeholder="序列" class="layui-input" value="{:isset($info['id']) ? $info['sort'] : '0'}" autocomplete="off">
                        </td>
                        <td class="layui-td-gray"></td>
                        <td>

                        </td>
                    </tr>-->
                    </tbody>
                </table>

                <div class="layui-form-item" style="margin-top: 20px;">
                    <label class="layui-form-label">附件管理</label>
                    <div class="layui-input-block">
                        <input type="file" id="fileInput" multiple class="layui-btn">
                        <button type="button" id="uploadBtn" class="layui-btn layui-btn-primary" style="margin-left: 10px;">上传附件</button>

                        <div id="attachmentList" style="margin-top: 15px;">
                            {if isset($info['id']) && !empty($attachments)}
                            {volist name="attachments" id="attach"}
                            <div class="layui-upload-list" data-id="{$attach.id}" style="padding: 8px; border: 1px solid #e6e6e6; margin-bottom: 8px; border-radius: 4px;">
                                <span class="file-item-text" data-size="{$attach.file_size}">
                                    {$attach.file_name} (<span class="size-val">计算中...</span>)
                                </span>
                                <a href="{$attach.file_path}" download="{$attach.file_name}" class="layui-btn layui-btn-xs layui-btn-success" style="margin-left: 10px;">下载</a>
                                <button type="button" class="del-attach layui-btn layui-btn-xs layui-btn-danger" data-has-id="1" style="margin-left: 5px;">删除</button>

                                <input type="hidden" name="attachments[{$i}][id]" value="{$attach.id}">
                                <input type="hidden" name="attachments[{$i}][file_name]" value="{$attach.file_name}">
                                <input type="hidden" name="attachments[{$i}][file_path]" value="{$attach.file_path}">
                                <input type="hidden" name="attachments[{$i}][file_size]" value="{$attach.file_size}">
                                <input type="hidden" name="attachments[{$i}][file_ext]" value="{$attach.file_ext}">
                                <input type="hidden" name="attachments[{$i}][file_mime]" value="{$attach.file_mime}">
                                <input type="hidden" name="attachments[{$i}][sort]" value="{$attach.sort}">
                            </div>
                            {/volist}
                            {else}
                            <p class="layui-text-muted">暂无附件</p>
                            {/if}
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" id="submitBtn" class="layui-btn layui-btn-success">{:isset($info['id']) && $info['id'] ? '更新' : '提交'}</button>
                        <button type="button" onclick="closeSide()" class="layui-btn layui-btn-default" style="margin-left: 10px;">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
    // 关闭弹窗/侧边栏通用方法
    function closeSide() {
        if (parent.layui && parent.layui.tool && typeof parent.layui.tool.closeSide === 'function') {
            parent.layui.tool.closeSide();
        } else if (parent.layer && typeof parent.layer.closeAll === 'function') {
            parent.layer.closeAll();
        } else {
            let index = parent.layer.getFrameIndex(window.name);
            if (index !== false) {
                parent.layer.close(index);
            }
        }
    }

    // 月份转年月份文本（如15个月 → 1年3个月）
    function convertProjectCycle(months) {
        if (isNaN(months) || months <= 0) {
            return '';
        }
        let years = Math.floor(months / 12);
        let remainingMonths = months % 12;
        let displayText = '';
        if (years > 0) {
            displayText += years + '年';
        }
        if (remainingMonths > 0) {
            displayText += remainingMonths + '个月';
        }
        return displayText;
    }

    // 年月份文本转回总月数（如1年3个月 → 15）
    function reverseConvertCycle(cycleText) {
        if (!cycleText) return 0;
        let years = 0, months = 0;
        let yearMatch = cycleText.match(/(\d+)年/);
        if (yearMatch) {
            years = parseInt(yearMatch[1]);
        }
        let monthMatch = cycleText.match(/(\d+)个月/);
        if (monthMatch) {
            months = parseInt(monthMatch[1]);
        }
        return years * 12 + months;
    }

    // 文件大小格式化（字节转B/KB/MB）
    function formatFileSize(size) {
        size = parseInt(size);
        if (isNaN(size) || size <= 0) return '0 B';
        if (size < 1024) return size + ' B';
        else if (size < 1024*1024) return (size/1024).toFixed(2) + ' KB';
        else return (size/(1024*1024)).toFixed(2) + ' MB';
    }

    // 页面初始化方法
    function gouguInit() {
        layui.use(['form', 'layer', 'laydate'], function(){
            var form = layui.form, layer = layui.layer, laydate = layui.laydate;

            // 附件索引初始化（编辑页从已有附件数量+1开始）
            let attachIndex = {:isset($info['id']) ? (count($attachments) + 1) : 1};

            // 初始化月份选择器
            laydate.render({
                elem: '#monthPicker',
                type: 'month',
                format: 'yyyy-MM',
                value: "{:isset($info['id']) ? $info['month'] : ''}",
                trigger: 'click'
            });

            // 初始化保证金缴纳截止日期选择器（日期时间）
            laydate.render({
                elem: '#depositPaidTimePicker',
                type: 'datetime',
                format: 'yyyy-MM-dd HH:mm:ss',
                value: "{:isset($info['id']) && $info['deposit_paid_time'] ? $info['deposit_paid_time'] : ''}",
                trigger: 'click'
            });

            // 是否缴纳保证金变化时，动态设置保证金缴纳截止日期的必填属性
            form.on('select(isDepositPaid)', function(data) {
                var $depositPaidTime = $('#depositPaidTimePicker');
                if (data.value === '是') {
                    $depositPaidTime.attr('lay-verify', 'required');
                } else {
                    $depositPaidTime.attr('lay-verify', '');
                }
                form.render('select');
            });

            // 页面加载时检查是否缴纳保证金的初始值
            $(function() {
                var initialDepositPaid = "{:isset($info['id']) ? $info['is_deposit_paid'] : ''}";
                if (initialDepositPaid === '是') {
                    $('#depositPaidTimePicker').attr('lay-verify', 'required');
                }
            });

            // 初始化已有附件的文件大小显示
            $('.file-item-text').each(function() {
                var size = $(this).data('size');
                var text = formatFileSize(size);
                $(this).find('.size-val').text(text);
            });

            // 项目周期回显与实时换算
            $(function() {
                let savedCycleText = "{:isset($info['id']) ? $info['project_cycle'] : ''}";
                if (savedCycleText) {
                    let totalMonths = reverseConvertCycle(savedCycleText);
                    $('#project_cycle_months').val(totalMonths);
                    let displayText = convertProjectCycle(totalMonths);
                    $('#project_cycle_display').text('换算结果：' + displayText);
                    $('#project_cycle_hidden').val(displayText);
                } else {
                    $('#project_cycle_hidden').val('');
                    $('#project_cycle_display').text('');
                }

                $('#project_cycle_months').on('input', function() {
                    let months = parseInt($(this).val());
                    let displayText = convertProjectCycle(months);
                    $('#project_cycle_display').text(displayText ? '换算结果：' + displayText : '');
                    $('#project_cycle_hidden').val(displayText);
                });
            });

            // ========== 核心功能：带进度条的文件上传 ==========
            $('#uploadBtn').click(function() {
                let files = $('#fileInput')[0].files;
                if (files.length === 0) {
                    layer.msg('请选择要上传的文件！', {icon: 2});
                    return;
                }

                // 遍历选中的文件逐个上传
                for (let i = 0; i < files.length; i++) {
                    let file = files[i];
                    let fileSizeText = formatFileSize(file.size);
                    let tempId = 'upload_' + Date.now() + '_' + i; // 唯一标识当前上传项

                    // 1. 添加进度条UI
                    let progressHtml = `<div id="${tempId}" class="layui-upload-list" style="padding: 8px; border: 1px solid #e6e6e6; margin-bottom: 8px; border-radius: 4px;">
                        <span>${file.name} (${fileSizeText})</span>
                        <div class="layui-progress" style="margin-top: 5px; width: 300px;">
                            <div class="layui-progress-bar layui-bg-blue" lay-percent="0%"></div>
                        </div>
                        <span class="progress-text">0%</span>
                    </div>`;
                    $('#attachmentList').append(progressHtml);
                    $('#attachmentList .layui-text-muted').remove();
                    form.render('progress'); // 渲染进度条组件

                    // 2. 构建上传请求
                    let formData = new FormData();
                    formData.append('file', file);
                    let xhr = new XMLHttpRequest();

                    // 3. 监听上传进度
                    xhr.upload.addEventListener('progress', function(e) {
                        if (e.lengthComputable) {
                            let percent = Math.round((e.loaded / e.total) * 100);
                            // 更新进度条样式和文字
                            $('#' + tempId + ' .layui-progress-bar')
                                .attr('lay-percent', percent + '%')
                                .css('width', percent + '%');
                            $('#' + tempId + ' .progress-text').text(percent + '%');
                            form.render('progress');
                        }
                    });

                    // 4. 监听上传完成（成功/失败统一处理）
                    xhr.addEventListener('load', function() {
                        try {
                            // 先校验响应格式是否为JSON
                            let contentType = xhr.getResponseHeader('Content-Type');
                            if (!contentType || !contentType.includes('application/json')) {
                                throw new Error('服务器返回非JSON格式响应，可能是后端报错');
                            }

                            let res = JSON.parse(xhr.responseText);
                            if (res.code === 0) {
                                // 上传成功：替换进度条为文件信息
                                let sizeText = formatFileSize(res.data.file_size);
                                let fileHtml = `<div class="layui-upload-list" style="padding: 8px; border: 1px solid #e6e6e6; margin-bottom: 8px; border-radius: 4px;">
                                    <span class="file-item-text" data-size="${res.data.file_size}">${res.data.file_name} (<span class="size-val">${sizeText}</span>)</span>
                                    <a href="${res.data.file_path}" download="${res.data.file_name}" class="layui-btn layui-btn-xs layui-btn-success" style="margin-left: 10px;">下载</a>
                                    <button type="button" class="del-attach layui-btn layui-btn-xs layui-btn-danger" data-has-id="0" style="margin-left: 5px;">删除</button>
                                    <input type="hidden" name="attachments[${attachIndex}][file_name]" value="${res.data.file_name}">
                                    <input type="hidden" name="attachments[${attachIndex}][file_path]" value="${res.data.file_path}">
                                    <input type="hidden" name="attachments[${attachIndex}][file_size]" value="${res.data.file_size}">
                                    <input type="hidden" name="attachments[${attachIndex}][file_ext]" value="${res.data.file_ext}">
                                    <input type="hidden" name="attachments[${attachIndex}][file_mime]" value="${res.data.file_mime}">
                                    <input type="hidden" name="attachments[${attachIndex}][sort]" value="${res.data.sort}">
                                </div>`;
                                $('#' + tempId).replaceWith(fileHtml);
                                attachIndex++;
                                layer.msg('上传成功：' + res.data.file_name, {icon: 1, time: 1000});
                            } else {
                                // 业务逻辑失败
                                $('#' + tempId).html(`<div class="layui-upload-list" style="padding: 8px; border: 1px solid #ff5722; margin-bottom: 8px; border-radius: 4px; color: #ff5722;">
                                    ${file.name} - 上传失败：${res.msg}
                                    <button type="button" class="del-attach layui-btn layui-btn-xs layui-btn-danger" style="margin-left: 10px;">移除</button>
                                </div>`);
                                layer.msg('上传失败：' + res.msg, {icon: 2});
                            }
                        } catch (e) {
                            // 解析失败/后端报错：打印详细日志便于调试
                            console.error('上传响应解析失败：', e);
                            console.error('原始响应内容：', xhr.responseText);
                            $('#' + tempId).html(`<div class="layui-upload-list" style="padding: 8px; border: 1px solid #ff5722; margin-bottom: 8px; border-radius: 4px; color: #ff5722;">
                                ${file.name} - 上传异常：${e.message}（请查看控制台日志）
                                <button type="button" class="del-attach layui-btn layui-btn-xs layui-btn-danger" style="margin-left: 10px;">移除</button>
                            </div>`);
                            layer.msg('上传解析失败，请检查后端接口', {icon: 2});
                        }
                    });

                    // 5. 监听网络错误
                    xhr.addEventListener('error', function() {
                        $('#' + tempId).html(`<div class="layui-upload-list" style="padding: 8px; border: 1px solid #ff5722; margin-bottom: 8px; border-radius: 4px; color: #ff5722;">
                            ${file.name} - 网络错误，上传失败
                            <button type="button" class="del-attach layui-btn layui-btn-xs layui-btn-danger" style="margin-left: 10px;">移除</button>
                        </div>`);
                        layer.msg('网络错误，上传失败', {icon: 2});
                    });

                    // 6. 监听上传中止
                    xhr.addEventListener('abort', function() {
                        $('#' + tempId).html(`<div class="layui-upload-list" style="padding: 8px; border: 1px solid #ff5722; margin-bottom: 8px; border-radius: 4px; color: #ff5722;">
                            ${file.name} - 上传已取消
                            <button type="button" class="del-attach layui-btn layui-btn-xs layui-btn-danger" style="margin-left: 10px;">移除</button>
                        </div>`);
                        layer.msg('上传已取消', {icon: 2});
                    });

                    // 7. 发送上传请求
                    xhr.open('POST', "{:url('projecttender/index/uploadAttachment')}", true);
                    xhr.send(formData);
                }

                // 清空文件选择框，避免重复上传
                $('#fileInput').val('');
            });

            // ========== 附件删除功能 ==========
            $(document).on('click', '.del-attach', function() {
                var $item = $(this).closest('.layui-upload-list');
                var $idInput = $item.find('input[name$="[id]"]');

                // 记录已存在的附件ID（用于后端删除）
                if ($idInput.length > 0 && $idInput.val()) {
                    var idToDelete = $idInput.val();
                    var $deletedInput = $('input[name="_deleted_attach_ids"]');
                    var currentVal = $deletedInput.val();

                    if (currentVal) {
                        var ids = currentVal.split(',');
                        if(ids.indexOf(idToDelete) === -1) {
                            $deletedInput.val(currentVal + ',' + idToDelete);
                        }
                    } else {
                        $deletedInput.val(idToDelete);
                    }
                }

                // 移除DOM元素
                $item.remove();
                if ($('#attachmentList .layui-upload-list').length === 0) {
                    $('#attachmentList').html('<p class="layui-text-muted">暂无附件</p>');
                }
            });

            // ========== 表单提交功能 ==========
            $('#submitBtn').click(function() {
                // 1. 校验必填项
                let requiredFields = ['month', 'tender_leader', 'customer_name', 'project_name', 'is_tender_submitted'];
                let fieldNames = {
                    'month': '月份',
                    'tender_leader': '标书负责人',
                    'customer_name': '客户名称',
                    'project_name': '项目名称',
                    'is_tender_submitted': '是否投标'
                };

                for (let field of requiredFields) {
                    let $input = $('input[name="' + field + '"]');
                    let $select = $('select[name="' + field + '"]');
                    let val = ($input.val() || $select.val() || '').trim();

                    if (!val) {
                        layer.msg('请填写必填项：' + fieldNames[field], {icon: 2});
                        return;
                    }
                }

                // 2. 校验是否缴纳保证金与保证金缴纳截止日期的关系
                let isDepositPaid = $('#isDepositPaid').val();
                if (isDepositPaid === '是') {
                    let depositPaidTime = $('#depositPaidTimePicker').val().trim();
                    if (!depositPaidTime) {
                        layer.msg('缴纳保证金时，保证金缴纳截止日期为必填项', {icon: 2});
                        return;
                    }
                }

                // 2. 提交表单
                let formData = new FormData($('#tenderForm')[0]);

                $.ajax({
                    url: "{:url('projecttender/index/save')}",
                    type: 'POST',
                    data: formData,
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    success: function(res) {
                        if (res.code === 0) {
                            layer.msg(res.msg, {icon: 1});
                            setTimeout(function(){
                                // 刷新父页面表格
                                if (parent.window.refreshProjectTenderTable) {
                                    parent.window.refreshProjectTenderTable();
                                } else if(parent.layui && parent.layui.pageTable) {
                                    parent.layui.pageTable.reload();
                                }
                                // 关闭弹窗
                                closeSide();
                                // 清空表单
                                $('#tenderForm')[0].reset();
                                form.render();
                            }, 1000);
                        } else {
                            layer.msg(res.msg, {icon: 2});
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('表单提交失败:', error);
                        layer.msg('提交请求失败：' + error, {icon: 2});
                    }
                });
            });

            // 强制渲染表单，确保样式生效
            form.render();
        });
    }

    // 页面加载完成后执行初始化
    $(function() {
        gouguInit();
    });
</script>
{/block}